{% import "__macros.twig" as macros %}

<div class="col">
    <ul class="list-group">
        <li class="list-group-item">
            <ul class="list-group">
                <li class="list-group-item" style="text-align: center;">
                    <img src="{{ menu.image }}" alt="{{ menu.title }}" style="height: 100%; max-height: 160px; width: auto;">
                </li>
            </ul>
            <div class="row">
                <a class="btn btn-primary" style=" width: 100%; text-align: center; margin-top: 10px;" href="/character/{{ menu.id }}">
                    {{ menu.title }}
                </a>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto d-flex gap-2">
                    <a class="btn btn-link" href="/character/{{ menu.id }}?show=image">
                        Картинка
                    </a>
                    <a class="btn btn-link" href="/character/{{ menu.id }}?show=info">
                        Описание
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>